<div class="w-full flex flex-col items-center justify-center">
    <table class="w-1/2 border border-collapse">
        <thead>
            <tr>
                <th *ngFor="let header of headers">{{ header }}</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of paginatedData">
                <td *ngFor="let key of arrayKeys(row)">{{ row[key] }}</td>
                <td>
                    <button class="bg-blue-500 text-white p-2 rounded" (click)="modalUpdate(row)">Actualizar</button>
                    <!-- <button class="bg-red-500 text-white p-2 rounded ml-2" (click)="onDelete(row)">Eliminar</button> -->
                </td>
            </tr>
        </tbody>
    </table>

    <div class="flex justify-between w-1/2 mt-5">
        <button class="text-orange-500" (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
        <span>Página {{ currentPage }} de {{ totalPages }}</span>
        <button class="text-orange-500" (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
    </div>
</div>

<ng-template cdk-portal #update="cdkPortal">
    <app-modal-update [actor]="actor"></app-modal-update>
</ng-template>
